<h1>New Game</h1>

<div class="display">
  <% @letters.each do |letter| %>
    <%= letter %>
  <% end %>
</div>

<div class="answer">
<p>What is the longest word you can find?</p>
  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="words">
    <input type="submit" value="Submit">
    <input type="hidden" value="<%= @letters %>" name="letters">
  </form>
</div>
